<p id="notice"><%= notice %></p>
<row>
<h1>Order Histories</h1>
<h3>
  <%= link_to 'Home', products_path %>
  <%= link_to 'Sign out'.html_safe, destroy_user_session_path, :method => :delete, :style => "float:right"%>
</h3>
</row>


<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
      <th>Date</th>
      <th>Bill Amount</th>
  </tr>
  <% @order_histories.each do |order| %>
      <tr>
        <td><a href="/orders/<%=order.id%>"><%= order.created_at.strftime('%d-%b-%Y %H-%M %p') %></a></td>
        <td><%= order.price %></td>
      </tr>
  <% end %>
</table>
</body>
</html>




